html
  head
    title Flourish! 2019
    link(rel='stylesheet', href='assets/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color", content="rgb(151,24,189)")

    
  body
    .wrapper
      .header
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        .title
          img.logo(src="assets/svg/logo.svg", draggable="false")
          h1 2019
        .subtitle
          img(src="assets/svg/subtitle.svg", draggable="false")
        br
        br
        p To Be Announced, 2019
        p 
          a.button(href="speakerSignUp.html") Looking for speakers
          a.button(href="sponsorUs.html") Sponsor Us
  script(src="toggle-trees.js")
