html
  head
    title Flourish! 2019
    link(rel='stylesheet', href='assets/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    
  body
    .wrapper
      .header
        img.bg-tree.fade(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-mini.svg")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-mini.svg")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-mini.svg")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg")
        img.bg-tree(src="assets/svg/tree-logo.svg")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg")
        img.bg-tree(src="assets/svg/tree-logo.svg")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg")
        img.bg-tree(src="assets/svg/tree-logo.svg")
        img.bg-tree(src="assets/svg/tree-logo.svg")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg")
        img.bg-tree(src="assets/svg/tree-logo.svg")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg")
        .title
          h1 FLOURISH!
          h1 2019
        .subtitle
          h2.verticalText OPEN
          h2 SOURCE
            br
            | FUTURE
        br
        br
        p To Be Announced, 2019
        p 
          a.button(href="speakerSignUp.html") Looking for speakers
          a.button(href="sponsorUs.html") Sponsor Us
  script(src="toggle-trees.js")
