html
  head
    title Flourish! 2019
    link(rel='stylesheet', href='assets/css/main.css')
    
  body
    .wrapper
      .header
        .title
          h1 FLOURISH!
          h1 2019
        .subtitle
          h2.verticalText OPEN
          h2 SOURCE
            br
            | FUTURE
        br
        br
        p To Be Announced, 2019 | Now looking for speakers
        p 
          a.button(href="sponsorUs.html") Sponsor Us
