html
  head
    title Flourish! 2019
    link(rel='stylesheet', href='assets/css/main.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color", content="rgb(151,24,189)")
    
  body
    .wrapper
      .header
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-mini.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree(src="assets/svg/tree-logo.svg", draggable="false")
        img.bg-tree.fade(src="assets/svg/tree-logo.svg", draggable="false")
        .title
          img.logo(src="assets/svg/logo.svg", draggable="false")
          h1 2019
        .subtitle
          img(src="assets/svg/subtitle.svg", draggable="false")
    
        br
        br
        p.topPos To Be Announced, 2019
        p.topPos
          a.button(href="index.html") Home
        section.content
          h2
            | Sponsor Flourish!
          p
            a.button(href="mailto:a@a.com") Contact us at a@a.com
            br
            a.button(href="https://docs.google.com/forms/d/e/1FAIpQLSdZoDbdlFcv5FIuu9-ml3e2HfmyUzmXbWcR9Wp2W8jRfwLvNA/viewform?usp=sf_link", target="_blank") Open form in new window
