#one
  color: #ffffff
  background: #9718bd
  background: radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%)
  background-attachment: fixed

  .hero
    display: grid
    grid-template-rows: 10em 20em 5em
    grid-template-columns: auto auto auto
    grid-template-areas: ". . a" "b b b" "c c c"
    height: 100vh
    min-height: 800px
    img
      filter: drop-shadow(3px 3px 5px black)
      display: flex
      align-items: center
    .logo
      grid-area: b
      height: 20em
      padding: 1.2em
      user-select: none
      
      margin: 0 auto
    .tagline
      grid-area: a
      height: 8em
      margin: 0 0 0 auto
      padding: 1.2em
      user-select: none
    .content
      grid-area: c
      button
        margin: 0 auto
        display: block

@media (max-width: 1500px)
  #one
    .hero
      grid-template-rows: 10em 14em 5em
      .logo
        height: 14em
      .tagline
        height: 7em

@media (max-width: 1100px)
  #one
    .hero
      grid-template-rows: 5em 10em 5em
      .logo
        height: 10em
      .tagline
        height: 5em

@media (max-width: 850px)
  #one
    .hero
      grid-template-rows: 5em 7em 5em
      .logo
        height: 7em
      .tagline
        height: 5em
@media (max-width: 360px)
  #one
    .hero
      grid-template-rows: 3em 5em 5em
      .logo
        height: 5em
      .tagline
        height: 3em