@import url('https://fonts.googleapis.com/css?family=Lato')
@import variables.sass
@import header.sass
@import footer.sass
@import trees.sass


body
  margin: 0
  font: 300 100% $font-stack
h1, h2, h3, h4, h5, h6
  font-weight: 300
a
  color: black
a.button
  display: inline-block
  padding: 0.35em 1.2em
  border: 0.1em solid #000000
  margin: 0 0.3em 0.3em 0
  border-radius: 0.12em
  box-sizing: border-box
  text-decoration: none
  color: #000000
  text-align: center
  transition: all 0.2s
  &:hover
    color: #ffffff
    background-color: #000000

.wrapper
  margin: 0 auto
