@import url("https://fonts.googleapis.com/css?family=Lato");
.header {
  background: #9718bd;
  background: -webkit-radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background: -o-radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background: radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background-attachment: fixed;
  color: #ffffff;
  min-height: 900px;
  width: 100vw;
  height: 100vh; }
  .header p {
    text-align: center;
    font-size: 1.5em; }
  .header a {
    color: white; }
  .header a.button {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .header a.button:hover {
      color: #000000;
      background-color: #FFFFFF; }
  .header .topPos {
    position: relative;
    top: 120px; }
  .header .title {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 700px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 20vh;
    -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8)); }
    .header .title h1 {
      text-align: center;
      font-size: 5.5em;
      margin: 0; }
    .header .title img {
      width: 100%;
      height: auto; }
  .header .subtitle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px 25px 0px 0px;
    width: 250px;
    overflow: visible;
    -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8)); }
  .header section.content {
    text-align: center; }

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper .header {
    min-height: 700px; }
    .wrapper .header p {
      font-size: 1.3em; }
    .wrapper .header .title {
      max-width: 500px;
      top: 15vh; }
      .wrapper .header .title h1 {
        font-size: 4em; }
    .wrapper .header .subtitle {
      width: 175px; }
  .wrapper .topPos {
    top: 100px; } }

@media (min-width: 480px) and (max-width: 768px) {
  .wrapper .header {
    min-height: 575px; }
    .wrapper .header p {
      font-size: 1.2em; }
    .wrapper .header .title {
      max-width: 400px;
      top: 12vh; }
      .wrapper .header .title h1 {
        font-size: 3em; }
    .wrapper .header .subtitle {
      width: 125px; }
    .wrapper .header .topPos {
      top: 50px; }
  a {
    display: block;
    float: none;
    clear: both; } }

@media (max-width: 480px) {
  body {
    font-size: 12px; }
  .wrapper .header {
    min-height: 500px; }
    .wrapper .header p {
      font-size: 1em; }
    .wrapper .header .title {
      max-width: 400px;
      top: 10vh; }
      .wrapper .header .title h1 {
        font-size: 3em; }
    .wrapper .header .subtitle {
      width: 125px; }
    .wrapper .header .topPos {
      top: 20px; } }

.bg-tree {
  position: fixed;
  opacity: 0.15;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s; }

.fade {
  opacity: 0; }

.bg-tree:nth-child(1) {
  width: 100px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 20vh;
  left: 80vw; }

.bg-tree:nth-child(2) {
  width: 120px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 30vh;
  left: 20vw; }

.bg-tree:nth-child(3) {
  width: 180px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 70vh;
  left: 50vw; }

.bg-tree:nth-child(4) {
  width: 210px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 30vh;
  left: 60vw; }

.bg-tree:nth-child(5) {
  width: 220px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 60vh;
  left: 30vw; }

.bg-tree:nth-child(6) {
  width: 170px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 80vh;
  left: 80vw; }

.bg-tree:nth-child(7) {
  width: 140px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 20vw; }

.bg-tree:nth-child(8) {
  width: 160px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 20vh;
  left: 50vw; }

.bg-tree:nth-child(9) {
  width: 190px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 70vh;
  left: 10vw; }

.bg-tree:nth-child(10) {
  width: 120px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 55vh;
  left: 15vw; }

.bg-tree:nth-child(11) {
  width: 150px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 35vh;
  left: 25vw; }

.bg-tree:nth-child(12) {
  width: 190px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 85vh;
  left: 22vw; }

.bg-tree:nth-child(13) {
  width: 170px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 80vh;
  left: 70vw; }

.bg-tree:nth-child(14) {
  width: 200px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 17vh;
  left: 65vw; }

.bg-tree:nth-child(15) {
  width: 220px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 17vh;
  left: 30vw; }

.bg-tree:nth-child(16) {
  width: 160px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 10vw; }

.bg-tree:nth-child(17) {
  width: 130px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 35vh;
  left: 5vw; }

.bg-tree:nth-child(18) {
  width: 100px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 50vh;
  left: 80vw; }

@media (max-width: 480px) {
  .bg-tree:nth-child(8),
  .bg-tree:nth-child(3),
  .bg-tree:nth-child(5),
  .bg-tree:nth-child(7),
  .bg-tree:nth-child(15),
  .bg-tree:nth-child(13),
  .bg-tree:nth-child(17) {
    display: none; } }

body {
  margin: 0;
  font: 300 100% "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  color: black; }

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a.button:hover {
    color: #ffffff;
    background-color: #000000; }

.wrapper {
  margin: 0 auto; }
