@import url("https://fonts.googleapis.com/css?family=Lato");
#one {
  color: #ffffff;
  background: #9718bd;
  background: -webkit-radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background: -o-radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background: radial-gradient(circle, #9718bd 0%, #5a1270 45%, #3a0e47 65%, #24082c 100%);
  background-attachment: fixed; }
  #one .hero {
    display: grid;
    grid-template-rows: 10em 20em 5em;
    grid-template-columns: auto auto auto;
    grid-template-areas: ". . a" "b b b" "c c c";
    height: 100vh;
    min-height: 800px; }
    #one .hero img {
      -webkit-filter: drop-shadow(3px 3px 5px black);
      filter: drop-shadow(3px 3px 5px black);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    #one .hero .logo {
      grid-area: b;
      height: 20em;
      padding: 1.2em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      margin: 0 auto; }
    #one .hero .tagline {
      grid-area: a;
      height: 8em;
      margin: 0 0 0 auto;
      padding: 1.2em;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #one .hero .content {
      grid-area: c; }
      #one .hero .content button {
        margin: 0 auto;
        display: block; }

@media (max-width: 1500px) {
  #one .hero {
    grid-template-rows: 10em 14em 5em; }
    #one .hero .logo {
      height: 14em; }
    #one .hero .tagline {
      height: 7em; } }

@media (max-width: 1100px) {
  #one .hero {
    grid-template-rows: 5em 10em 5em; }
    #one .hero .logo {
      height: 10em; }
    #one .hero .tagline {
      height: 5em; } }

@media (max-width: 850px) {
  #one .hero {
    grid-template-rows: 5em 7em 5em; }
    #one .hero .logo {
      height: 7em; }
    #one .hero .tagline {
      height: 5em; } }

@media (max-width: 360px) {
  #one .hero {
    grid-template-rows: 3em 5em 5em; }
    #one .hero .logo {
      height: 5em; }
    #one .hero .tagline {
      height: 3em; } }

.bg-tree {
  position: absolute;
  opacity: 0.15;
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none; }

.fade {
  opacity: 0; }

.bg-tree:nth-child(1) {
  width: 100px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 20vh;
  left: 80vw; }

.bg-tree:nth-child(2) {
  width: 120px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 30vh;
  left: 20vw; }

.bg-tree:nth-child(3) {
  width: 180px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 70vh;
  left: 50vw; }

.bg-tree:nth-child(4) {
  width: 210px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 30vh;
  left: 60vw; }

.bg-tree:nth-child(5) {
  width: 220px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 60vh;
  left: 30vw; }

.bg-tree:nth-child(6) {
  width: 170px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 77vh;
  left: 80vw; }

.bg-tree:nth-child(7) {
  width: 140px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 20vw; }

.bg-tree:nth-child(8) {
  width: 160px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 20vh;
  left: 50vw; }

.bg-tree:nth-child(9) {
  width: 190px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 70vh;
  left: 10vw; }

.bg-tree:nth-child(10) {
  width: 120px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 55vh;
  left: 15vw; }

.bg-tree:nth-child(11) {
  width: 150px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 35vh;
  left: 25vw; }

.bg-tree:nth-child(12) {
  width: 190px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 75vh;
  left: 22vw; }

.bg-tree:nth-child(13) {
  width: 170px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 75vh;
  left: 70vw; }

.bg-tree:nth-child(14) {
  width: 200px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 17vh;
  left: 65vw; }

.bg-tree:nth-child(15) {
  width: 220px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 17vh;
  left: 30vw; }

.bg-tree:nth-child(16) {
  width: 160px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 10vw; }

.bg-tree:nth-child(17) {
  width: 130px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 35vh;
  left: 5vw; }

.bg-tree:nth-child(18) {
  width: 100px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 50vh;
  left: 80vw; }

@media (max-width: 480px) {
  .bg-tree:nth-child(8),
  .bg-tree:nth-child(3),
  .bg-tree:nth-child(5),
  .bg-tree:nth-child(7),
  .bg-tree:nth-child(15),
  .bg-tree:nth-child(13),
  .bg-tree:nth-child(17) {
    display: none; } }

body {
  margin: 0;
  font-size: 18px;
  text-align: center;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

a.button:hover {
  color: #000000;
  background-color: #FFFFFF; }
