body {
  margin: 0;
  font: 300 100% Lato, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  color: white; }

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  text-align: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  a.button:hover {
    color: #000000;
    background-color: #FFFFFF; }

.wrapper {
  margin: 0 auto;
  min-height: 600px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: #9718bd;
  background: -webkit-radial-gradient(circle, #9718bd 0%, #24082c 90%);
  background: -o-radial-gradient(circle, #9718bd 0%, #24082c 90%);
  background: radial-gradient(circle, #9718bd 0%, #24082c 90%);
  color: #ffffff; }

.header p {
  text-align: center;
  font-size: 1.5em;
  position: relative;
  top: 200px; }

.header .title {
  width: 700px;
  margin: 0 auto;
  position: relative;
  top: 25vh;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8)); }
  .header .title img.logo {
    position: relative;
    right: 50px; }
  .header .title h1 {
    text-align: center;
    font-size: 5.5em;
    margin: 0; }
  .header .title img {
    width: 100%;
    height: auto; }

.header .subtitle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px 25px 0px 0px;
  width: 250px;
  overflow: visible;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.8)); }

.bg-tree {
  position: fixed;
  opacity: 0.2;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s; }

.fade {
  opacity: 0; }

.bg-tree:nth-child(1) {
  width: 100px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 20vh;
  left: 80vw; }

.bg-tree:nth-child(2) {
  width: 120px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 30vh;
  left: 20vw; }

.bg-tree:nth-child(3) {
  width: 180px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 70vh;
  left: 50vw; }

.bg-tree:nth-child(4) {
  width: 210px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 30vh;
  left: 60vw; }

.bg-tree:nth-child(5) {
  width: 220px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 60vh;
  left: 30vw; }

.bg-tree:nth-child(6) {
  width: 170px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 80vh;
  left: 80vw; }

.bg-tree:nth-child(7) {
  width: 140px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 20vw; }

.bg-tree:nth-child(8) {
  width: 160px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 20vh;
  left: 50vw; }

.bg-tree:nth-child(9) {
  width: 190px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 70vh;
  left: 10vw; }

.bg-tree:nth-child(10) {
  width: 120px;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  top: 55vh;
  left: 15vw; }

.bg-tree:nth-child(11) {
  width: 150px;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  top: 35vh;
  left: 25vw; }

.bg-tree:nth-child(12) {
  width: 190px;
  -webkit-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  top: 85vh;
  left: 22vw; }

.bg-tree:nth-child(13) {
  width: 170px;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  top: 80vh;
  left: 70vw; }

.bg-tree:nth-child(14) {
  width: 200px;
  -webkit-transform: rotate(220deg);
  -ms-transform: rotate(220deg);
  transform: rotate(220deg);
  top: 17vh;
  left: 65vw; }

.bg-tree:nth-child(15) {
  width: 220px;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  top: 17vh;
  left: 30vw; }

.bg-tree:nth-child(16) {
  width: 160px;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  top: 10vh;
  left: 10vw; }

.bg-tree:nth-child(17) {
  width: 130px;
  -webkit-transform: rotate(600deg);
  -ms-transform: rotate(600deg);
  transform: rotate(600deg);
  top: 35vh;
  left: 5vw; }

.bg-tree:nth-child(18) {
  width: 100px;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  top: 50vh;
  left: 80vw; }
